<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-offset-2"></div>
    <div class="col-sm-6">
      <input type="text" [(ngModel)]="searchText" style="width: 100%;" placeholder="Enter the filter query">
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" (click)="onFetchData()">Fetch Products Data</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12" *ngIf="tableData.length > 0">
        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Release Date</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of tableData; let id = index">
                <th scope="row">{{ i.ID }}</th>
                <td>{{ i.Name }}</td>
                <td>{{ i.Description }}</td>
                <td>{{ i.ReleaseDate | date: 'fullDate' }}</td>
                <td>{{ i.Price}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>